@mixin rotateWithAnimation {
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

@mixin floatingTitle {
  animation: 6s infinite 1s linear alternate floatingTitle;
}

@mixin floating {
  animation: 5s infinite linear alternate floating;
}
