.banner {
  //background-image: url("../media/images/banner.png") no-repeat cover center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("");

  @media screen and (max-width: 620px) {
    height: 350px;
    min-height: auto;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    animation: fadeInDown 2s ease-out;
    
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .banner-logo {
    //position: absolute;
    //transform: translate(-50%, calc(-50% - 80px));
    //margin: 0;
    //padding: 0;
    z-index: 10;
    animation: fadeInUp 2s ease-out;
    animation-fill-mode: both;
    @include floatingTitle;

    @media screen and (max-width: 768px) {
      animation: none;
    }

  }

  .banner-img {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    animation: fadeInDown 2s ease-out;

    @media screen and (max-width: 768px) {
      height: 100%;
      object-fit: cover;
    }
  }


}