@charset "UTF-8";
@keyframes flowerRotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes floatingTitle {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translate(5px, 10px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(5px, -5px);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translate(5px, 10px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInTitle {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes littleCloudTranslation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300px);
  }
}
@keyframes bigCloudTranslation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}
#site-navigation {
  display: flex;
  justify-content: center;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 500;
  height: 80px;
}
.main-navigation p {
  margin: 0 auto;
}
.main-navigation #toggler::before {
  content: "☰";
  position: absolute;
  right: 60px;
  top: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.main-navigation #toggler.menu-open::before {
  content: "✕";
}

.fullscreen-menu {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  text-align: center;
  background: #FFF5E9;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: calc(100vh - 80px);
  transition: top 0.7s ease-in-out;
}
.fullscreen-menu .wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  overflow: hidden;
}
.fullscreen-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  margin: 0;
  padding: 0;
}
.fullscreen-menu ul li a {
  font-size: 3vw;
  text-decoration: none;
}
.fullscreen-menu ul li a:hover {
  text-shadow: 0 0 14px #FF5C00;
}
.fullscreen-menu ul li a:visited {
  color: #000;
}
.fullscreen-menu.menu-open {
  display: flex;
  top: 80px;
}

/* Background Images */
.fullscreen-menu p {
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
}

.logo {
  display: block;
  position: absolute;
  top: 8%;
}

.rdm-flower {
  position: absolute;
  top: 40%;
  right: -2%;
  width: 5%;
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.hibiscus {
  position: absolute;
  width: 30%;
  bottom: -17%;
  right: -15%;
  filter: blur(4px);
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.orchid {
  position: absolute;
  top: 7%;
  left: -4%;
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.flower {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 5%;
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.sun-flower {
  position: absolute;
  top: 10%;
  right: 15%;
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.yellow-cat {
  position: absolute;
  width: 5%;
  bottom: 20%;
  left: 4%;
  animation: 5s infinite linear alternate floating;
  animation-duration: 4s;
}

.dark-cat {
  position: absolute;
  top: 50%;
  right: 15%;
  width: 7%;
  animation: 5s infinite linear alternate floating;
}

.cat {
  position: absolute;
  top: 23%;
  left: 20%;
  animation: 5s infinite linear alternate floating;
  animation-duration: 5s;
}

.story #characters {
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
}
.story #characters .swiper-container {
  width: 100%;
  height: auto;
  overflow-x: hidden !important;
}
.story #characters .swiper-slide {
  width: auto !important;
  overflow: hidden;
}
.story #characters .swiper-slide figure {
  margin: 0;
  overflow: hidden;
  position: relative;
}
.story #characters .swiper-slide img {
  width: 100%;
  object-fit: cover;
}
.story #characters .swiper-slide, .story #characters .swiper-slide > * {
  background: transparent none !important;
}
@media (max-width: 320px) {
  .story #characters .swiper-slide {
    width: calc(100% - 20px) !important;
  }
}
.story #characters h3 {
  background-position: left;
  text-align: left;
}
@media (max-width: 768px) {
  .story #characters h3 {
    background-position: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .story #characters h3 {
    padding-left: 3.75rem;
  }
}
@media (max-width: 427px) {
  .story #characters h3 {
    font-size: 2rem;
  }
}
@media (max-width: 342px) {
  .story #characters h3 {
    font-size: 1.75rem;
  }
}
.story #characters div {
  flex: none;
  flex-shrink: 0;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("");
}
@media screen and (max-width: 620px) {
  .banner {
    height: 350px;
    min-height: auto;
  }
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  animation: fadeInDown 2s ease-out;
}
@media screen and (max-width: 768px) {
  .banner video {
    display: none;
  }
}
.banner .banner-logo {
  z-index: 10;
  animation: fadeInUp 2s ease-out;
  animation-fill-mode: both;
  animation: 6s infinite 1s linear alternate floatingTitle;
}
@media screen and (max-width: 768px) {
  .banner .banner-logo {
    animation: none;
  }
}
.banner .banner-img {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  z-index: -2;
  animation: fadeInDown 2s ease-out;
}
@media screen and (max-width: 768px) {
  .banner .banner-img {
    height: 100%;
    object-fit: cover;
  }
}

.site-footer {
  position: relative;
  display: flex;
  padding-top: 18em;
  padding-bottom: 1em;
  overflow: hidden;
}
.site-footer::before {
  content: "";
}
.site-footer::after {
  content: "";
}

#story, #studio {
  transform: translateY(20%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

#story.show, #studio.show {
  transform: translateY(0);
  opacity: 1;
}

#studio {
  overflow: hidden;
}

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer ul::after,
.site-footer::before {
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.story h2::after {
  transform-origin: 77px 77px;
}

.nomination {
  position: relative;
  overflow-x: hidden;
  padding: 60px 0;
}
.nomination article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nomination p {
  font-family: "quicksand", sans-serif;
  color: #FFF5E9;
  font-size: 2rem;
  height: auto;
  background: url("../../assets/media/images/background-nomination.png") no-repeat;
  background-size: contain;
  max-width: 640px;
  padding: 2em 2.5em;
}
.nomination::before {
  content: url("../../assets/media/images/Sunflower.png");
  position: absolute;
  left: 8em;
  top: 0;
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}
.nomination::after {
  content: url("../../assets/media/images/orchid.png");
  position: absolute;
  right: -4em;
  top: 0;
  transform: rotate(0deg);
  animation: flowerRotation 10s infinite linear;
}

.show h2 {
  overflow: hidden;
}
.show h2 span {
  display: inline-block;
  animation: 2s 0s 1 both fadeInTitle;
}
.show h2 span:first-child {
  animation-delay: 0.5s;
}
.show h2 span:last-child {
  animation-delay: 1s;
}

.story #place {
  background-image: url("../media/images/Studio_Koukaki-image_place.png");
  background-attachment: fixed;
}

.parallax-container {
  overflow: hidden;
  position: relative;
}

.clouds {
  position: absolute;
  width: 100px;
  height: 30px;
  background-repeat: repeat-x;
  z-index: 50;
}

.little-cloud {
  position: absolute;
  top: 38%;
  left: 20%;
  filter: blur(6.5px);
  background: url("../media/images/little_cloud.png") no-repeat;
}

.big-cloud {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 316px;
  height: 114px;
  filter: blur(10.5px);
  background: url("../media/images/big_cloud.png") no-repeat;
}

/*# sourceMappingURL=main.css.map */
